<!-- <div class="container">
    <div class="row">
        <div class="col">
            <h1>Listado de personas</h1>
            <label >Nombre Persona</label>
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)] = "tituloPersona"
                
                >
            {{tituloPersona}}
            
            <button class="btn btn-primary" [disabled]="!agregarPersona"
            (click)="onCreatePersona()"
            > Agregar persona </button>
            <p *ngIf="personaCreada; else sinPersona">{{agregarPersonaStatus}} con titulo de {{tituloPersona}}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado ninguna persona</p>
            </ng-template>
        </div>
    </div>
</div> -->

<div class="box">
    <app-persona *ngFor="let personaElemento of personas; let i=index" [persona]="personaElemento" [indice]="i">
    </app-persona>
</div>

<div class="box">
    <app-formulario>

    </app-formulario>
</div>
    

